<footer class="footer">
    <div class="footer-container">
      <a href="https://wa.link/nbtbew" class="footer-link">
        <img src="assets/whatsApp.png" alt="WhatsApp" class="footer-icon" />
        WhatsApp
      </a>
      <a href="https://www.facebook.com/share/3JX4pqKvjjtqhra1/?mibextid=LQQJ4d" class="footer-link">
        <img src="assets/facebook.png" alt="Facebook" class="footer-icon" />
        Facebook
      </a>
      <a href="https://www.instagram.com/smartfixsamana?igsh=MWI2Mms4eWRzNGRqYQ%3D%3D&utm_source=qr" class="footer-link">
        <img
          src="assets/instagram.png"
          alt="Instagram"
          class="footer-icon"
        />
        Instagram
      </a>
      <a href="https://www.tiktok.com/@smartfixsamana?_t=8oFZyZoWa4z&_r=1" class="footer-link">
        <img src="assets/tiktok.png" alt="Tiktok" class="footer-icon" />
        Tiktok
      </a>
      <a href="https://youtube.com/@yairbuitrago?si=i08J4ZvHeeKJUS4S" class="footer-link">
        <img src="assets/youtube.png" alt="YouTube" class="footer-icon" />
        YouTube
      </a>
      <span class="footer-text">2024 © Smartfix Samaná</span>
    </div>
  </footer>
  